<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrenlab.cms.communication.dao.OrderProjectDao" >
  <resultMap id="BaseResultMap" type="com.renrenlab.cms.communication.model.OrderProject" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="pj_id" property="pjId" jdbcType="BIGINT" />
    <result column="pj_name" property="pjName" jdbcType="VARCHAR" />
    <result column="u_uid" property="uUid" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ProjectInfo" type="com.renrenlab.cms.communication.vo.ProjectInfo">
    <result column="pj_id" property="pjId" jdbcType="BIGINT"/>
    <result column="pj_name" property="pjName" jdbcType="VARCHAR"/>
    <result column="u_id" property="uId" jdbcType="BIGINT"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, pj_id, pj_name, u_uid, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from t_project
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPjId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from rlab_order_info.t_order_project
    where pj_id = #{pjId,jdbcType=BIGINT}
  </select>

  <!-- 根据用户Id获取用户项目信息 -->
  <select id="selectByUIdKey" resultMap="ProjectInfo" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List"/>
    from rlab_order_info.t_order_project
    where u_uid = #{u_id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rlab_order_info.t_order_project
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.renrenlab.cms.communication.model.OrderProject" >
    insert into rlab_order_info.t_order_project (id, pj_id, pj_name,
    u_id, create_time, modify_time
    )
    values (#{id,jdbcType=BIGINT}, #{pjId,jdbcType=BIGINT}, #{pjName,jdbcType=VARCHAR},
    #{uId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.renrenlab.cms.communication.model.OrderProject" >
    insert into rlab_order_info.t_order_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pjId != null" >
        pj_id,
      </if>
      <if test="pjName != null" >
        pj_name,
      </if>
      <if test="uUid != null" >
        u_uid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pjId != null" >
        #{pjId,jdbcType=BIGINT},
      </if>
      <if test="pjName != null" >
        #{pjName,jdbcType=VARCHAR},
      </if>
      <if test="uUid != null" >
        #{uUid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renrenlab.cms.communication.model.OrderProject" >
    update rlab_order_info.t_order_project
    <set >
      <if test="pjId != null" >
        pj_id = #{pjId,jdbcType=BIGINT},
      </if>
      <if test="pjName != null" >
        pj_name = #{pjName,jdbcType=VARCHAR},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renrenlab.cms.communication.model.OrderProject" >
    update rlab_order_info.t_order_project
    set pj_id = #{pjId,jdbcType=BIGINT},
    pj_name = #{pjName,jdbcType=VARCHAR},
    u_id = #{uId,jdbcType=BIGINT},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>