<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrenlab.cms.communication.dao.TmpOrgInfoDao" >
  <resultMap id="BaseResultMap" type="com.renrenlab.cms.communication.model.TmpOrgInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="u_uid" property="uUid" jdbcType="BIGINT" />
    <result column="u_org" property="uOrg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, u_uid, u_org, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rlab_tmp_info.t_tmp_org_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rlab_tmp_info.t_tmp_org_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.renrenlab.cms.communication.model.TmpOrgInfo" >
    insert into rlab_tmp_info.t_tmp_org_info (u_uid, u_org)
    values (#{uUid,jdbcType=BIGINT}, #{uOrg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.renrenlab.cms.communication.model.TmpOrgInfo" >
    insert into rlab_tmp_info.t_tmp_org_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uUid != null" >
        u_uid,
      </if>
      <if test="uOrg != null" >
        u_org,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uUid != null" >
        #{uUid,jdbcType=BIGINT},
      </if>
      <if test="uOrg != null" >
        #{uOrg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renrenlab.cms.communication.model.TmpOrgInfo" >
    update rlab_tmp_info.t_tmp_org_info
    <set >
      <if test="uUid != null" >
        u_uid = #{uUid,jdbcType=BIGINT},
      </if>
      <if test="uOrg != null" >
        u_org = #{uOrg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renrenlab.cms.communication.model.TmpOrgInfo" >
    update rlab_tmp_info.t_tmp_org_info
    set u_uid = #{uUid,jdbcType=BIGINT},
      u_org = #{uOrg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 根据用户Id查询机构信息 -->
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    SELECT
    <include refid="Base_Column_List"/>
    FROM rlab_tmp_info.t_tmp_org_info
    WHERE u_uid = #{uId,jdbcType=BIGINT}
  </select>

  <!-- 更新用户机构信息 -->
  <update id="updateByUserIdSelective" parameterType="com.renrenlab.cms.communication.model.TmpOrgInfo">
    update rlab_tmp_info.t_tmp_org_info
    <set >
      <if test="uOrg != null" >
        u_org = #{uOrg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where u_uid = #{uUid,jdbcType=BIGINT}
  </update>
</mapper>