<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrenlab.cms.communication.dao.UserTagDao" >
  <resultMap id="BaseResultMap" type="com.renrenlab.cms.communication.model.UserTag" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="u_tid" property="uTid" jdbcType="BIGINT" />
    <result column="u_tag_name" property="uTagName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, u_tid, u_tag_name, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rlab_user_info.t_user_tag
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rlab_user_info.t_user_tag
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.renrenlab.cms.communication.model.UserTag" >
    insert into rlab_user_info.t_user_tag (id, u_tid, u_tag_name, 
      create_time, modify_time)
    values (#{id,jdbcType=BIGINT}, #{uTid,jdbcType=BIGINT}, #{uTagName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.renrenlab.cms.communication.model.UserTag" >
    insert into rlab_user_info.t_user_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uTid != null" >
        u_tid,
      </if>
      <if test="uTagName != null" >
        u_tag_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uTid != null" >
        #{uTid,jdbcType=BIGINT},
      </if>
      <if test="uTagName != null" >
        #{uTagName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renrenlab.cms.communication.model.UserTag" >
    update rlab_user_info.t_user_tag
    <set >
      <if test="uTid != null" >
        u_tid = #{uTid,jdbcType=BIGINT},
      </if>
      <if test="uTagName != null" >
        u_tag_name = #{uTagName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renrenlab.cms.communication.model.UserTag" >
    update rlab_user_info.t_user_tag
    set u_tid = #{uTid,jdbcType=BIGINT},
      u_tag_name = #{uTagName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>