@font-face {
    font-family: 'lab_icon';
    src:  url('../font/lab_icon.eot?5enf83');
    src:  url('../font/lab_icon.eot?5enf83#iefix') format('embedded-opentype'),
    url('../font/lab_icon.ttf?5enf83') format('truetype'),
    url('../font/lab_icon.woff?5enf83') format('woff'),
    url('../font/lab_icon.svg?5enf83#lab_icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="lab-"], [class*=" lab-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'lab_icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lab-addicon:before {
    content: "\e900";
}
.lab-adress:before {
    content: "\e901";
}
.lab-alter:before {
    content: "\e902";
}
.lab-await:before {
    content: "\e903";
}
.lab-checked-1:before {
    content: "\e904";
}
.lab-checked-2:before {
    content: "\e905";
}
.lab-checked-3:before {
    content: "\e906";
}
.lab-close-1:before {
    content: "\e907";
}
.lab-close-2:before {
    content: "\e908";
}
.lab-commont:before {
    content: "\e909";
}
.lab-company:before {
    content: "\e90a";
}
.lab-coupon:before {
    content: "\e90b";
}
.lab-data:before {
    content: "\e90c";
}
.lab-del:before {
    content: "\e90d";
}
.lab-down:before {
    content: "\e90e";
}
.lab-exit:before {
    content: "\e90f";
}
.lab-godAdress:before {
    content: "\e910";
}
.lab-godPrice:before {
    content: "\e911";
}
.lab-godScheme:before {
    content: "\e912";
}
.lab-godTime:before {
    content: "\e913";
}
.lab-history:before {
    content: "\e914";
}
.lab-im:before {
    content: "\e915";
}
.lab-instrument:before {
    content: "\e916";
}
.lab-lock:before {
    content: "\e917";
}
.lab-order:before {
    content: "\e918";
}
.lab-phone:before {
    content: "\e919";
}
.lab-scheme:before {
    content: "\e91a";
}
.lab-search:before {
    content: "\e91b";
}
.lab-service:before {
    content: "\e91c";
}
.lab-set:before {
    content: "\e91d";
}
.lab-share-1:before {
    content: "\e91e";
}
.lab-tip:before {
    content: "\e91f";
}
.lab-top:before {
    content: "\e920";
}
.lab-user:before {
    content: "\e921";
}



body
{
    background-image:url('../img/background.jpg');
    background-size:cover;
    width: 100%;
    /*height: 100%;*/
    height: 16.08rem;
    /*background-color:#2fcba8;*/
}
input{
    outline: none;
    border: 0 none;
}
.bind_head {
    height: 4.50666rem;
    /*background-color: #2fcba8;*/
    text-align: center;
    overflow: hidden;
}

.bind_head img{
    margin-top: 1.09333rem;
    width: 80%;
}

.bind_head .title {
    font-size: 0.48rem;
    color: white;
    margin-top: 0.64rem;
}

.bind_head .text {
    margin-top: 0.5rem;
    font-size: 0.32rem;
    color: white;
    line-height: 2;
}

.bind_input {
    margin: 0 auto;
    width: 9.22666rem;
    height: 8.70666rem;
    background: white;
    /*margin-top: 1rem;*/
    border-radius: 0.1rem;
    box-shadow: 0rem 0rem 0.17222rem 0rem rgba(124, 167, 219, 0.27);
}

.bind_input .phone_number {
    height: 1.46666rem;
    position: relative;
}

.bind_input .phone_number .text {
    margin-left: 0.66666rem;
    line-height: 1.0rem;
    font-size: 0.5rem;
    color: #7a7a7a;
    float: left;
    margin-top: 0.5rem;
}

.bind_input .phone_number input {
    height: 0.6rem;
    float: left;
    font-size: 0.4rem;
    margin-left: 0.2rem;
    width: 3.33333rem;
    margin-top: 0.7rem;
    margin-left: 0.4rem
}

.bind_input .phone_code .button {
    outline: none;
    border: 0 none;
    border-radius: 0.29333rem;
    line-height: 0.7rem;
    background-color: white;
    color: #999999;
    width: 2.10666rem;
    height: 0.7rem;
    text-align: center;
    position: absolute;
    right: 0.66666rem;
    top: 50%;
    margin-top: -0.1rem;
    font-size: 0.4rem;
}

.bind_input .phone_code,.confirm_password,.phone_password {
    height: 1.46666rem;
    position: relative;
}

.bind_input .phone_code .text,.confirm_password .text,.phone_password .text {
    margin-left: 0.66666rem;
    line-height: 1.0rem;
    font-size: 0.5rem;
    color: #7a7a7a;
    float: left;
    margin-top: 0.5rem;
}

.bind_input .phone_code input,.confirm_password input,.phone_password input{
    height: 0.6rem;
    float: left;
    font-size: 0.4rem;
    margin-left: 0.2rem;
    width: 3.33333rem;
    margin-top: 0.7rem;
    margin-left: 0.4rem
}

.login {
    margin-top: 0.5rem;
    text-align: center;
}

.login p {
    height: 0.4rem;
    line-height: 0.4rem;
    margin-top: 0.3rem;
    color: #999999;
    font-size: 0.3rem;
}

.login .button {
    outline: none;
    border: 0 none;
    margin: 0 auto;
    width: 90%;
    height: 1rem;
    line-height: 1rem;
    background-color: #cccccc;
    border-radius: 0.1rem;
    color: white;
    text-align: center;
    font-size: 0.4rem;
}


/*弹窗默认样式*/
.xq_modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    opacity: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
/*点击后弹窗添加样式in*/

/*------------遮照----------*/
/*初始样式*/
.xq_modal_back {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    opacity: 0;
    z-index: 1040;
    background-color: #000;
}

/*弹窗内容样式（可替换）*/
.xq_modal > .xq_modal_contant{
    width: 8rem;
    margin: 1.5rem auto;
    height: 0px;
    /*border: 1px solid #fff;*/
    background-color: #fff;
    border-radius: 0.1rem;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: hidden;
    display: none;
}

.alert {
    text-align: center;
}

.alert .title{
    color: white;
    font-size: 0.4rem;
    background-color: #fc5360;
    height: 1.17333rem;
    line-height: 1.17333rem;
}

.alert .code_img {
    text-align: center;
    height: 1.4666rem;
    line-height: 1.4666rem;
    margin-top: 0.53333rem;
}

.alert .code_img img{
    width: 6.58666rem;
    height: 1.4666rem;
}

.alert .text {
    color: #7a7a7a;
    font-size: 0.32rem;
    margin-right: 0.66666rem;
    margin-top: 0.53333rem;
    text-align: right;
}

.alert .code_input {
    text-align: center;
    margin-top: 0.3rem;
}

.alert .code_input input {
    width: 6.58666rem;
    height: 1rem;
    border: 1px solid #cccccc;
    border-radius: 0.1rem;
    font-size: 0.4rem;
    text-align: center;
}