<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renrenlab.rlab.dao.InstrumentCategoryDao">
    <resultMap id="BaseResultMap" type="com.renrenlab.rlab.model.InstrumentCategory">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="ins_category" property="insCategory" jdbcType="VARCHAR"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="href" property="href" jdbcType="VARCHAR"/>
        <result column="parent_code" property="parentCode" jdbcType="VARCHAR"/>
        <result column="com" property="com" jdbcType="SMALLINT"/>
    </resultMap>
    <resultMap id="BaseResultMap2" type="com.renrenlab.rlab.model.InstrumentCategory" extends="BaseResultMap">
        <collection column="{insCategory=ins_category}" property="categoryList"
                    ofType="com.renrenlab.rlab.model.InstrumentCategory"
                    select="selectRecursive"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, level, ins_category, category_name, href, parent_code, com
    </sql>

    <select id="selectRecursive" resultMap="BaseResultMap2">
        select
        <include refid="Base_Column_List"/>
        from rlab_instrument_info.t_instrument_category
        <where>
            <if test="insCategory != null">
                and parent_code = #{insCategory,jdbcType=VARCHAR}
            </if>
            <if test="insCategory == null">
                and parent_code is null
            </if>
        </where>
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from rlab_instrument_info.t_instrument_category
        where ins_category = #{insCategory,jdbcType=VARCHAR}
    </select>

    <select id="selectByLevelAndCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rlab_instrument_info.t_instrument_category
        where
        1=1
        <if test="level != null">
            and level = #{level,jdbcType=INTEGER}
        </if>
        <if test="code != null">
            and parent_code = #{code,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectCategory" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rlab_instrument_info.t_instrument_category
        where
        1=1
        <if test="insCategory != null">
            and ins_category = #{insCategory,jdbcType=VARCHAR}
        </if>
        <if test="level != null">
            and level = #{level,jdbcType=BIGINT}
        </if>
    </select>

</mapper>