<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renrenlab.rlab.dao.UserRoleDao">

    <resultMap id="BaseResultMap" type="com.renrenlab.rlab.model.UserRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="r_rid" jdbcType="BIGINT" property="rRid"/>
        <result column="r_name" jdbcType="VARCHAR" property="rName"/>
        <result column="r_permisssion" jdbcType="VARCHAR" property="rPermisssion"/>
        <result column="r_description" jdbcType="VARCHAR" property="rDescription"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        ur.id, ur.r_rid, ur.r_name, ur.r_permisssion, ur.r_description, ur.create_time, ur.modify_time
    </sql>

    <select id="selectUserRoleByUUID" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        rlab_user_info.t_user_role_map urm
        LEFT JOIN rlab_user_info.t_user_role ur ON ur.r_rid = urm.r_rid
        WHERE
        urm.u_uid = #{u_uid,jdbcType=BIGINT} AND urm.r_type = 0
        ORDER BY
        ur.r_rid DESC LIMIT 1;
    </select>

    <select id="getRolePermissionByRname" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        rlab_user_info.t_user_role ur
        WHERE
        ur.r_name = #{rRame,jdbcType=VARCHAR}
    </select>

    <select id="selectAllPermission" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        rlab_user_info.t_user_role ur
        WHERE r_rid > 10004
        ORDER BY
        r_rid ASC ;
    </select>

    <update id="updateRole">
        UPDATE rlab_user_info.t_user_role_map
        SET r_rid = #{rRid,jdbcType=BIGINT}
        WHERE u_uid = #{uUid,jdbcType=BIGINT} AND r_type = 0
    </update>

    <select id="selectByUuidJobnum" resultType="int">
        SELECT count(*)
        FROM rlab_user_info.t_user_department
        WHERE u_job_number = #{uJobNumber,jdbcType=VARCHAR}
    </select>

    <update id="updateDepartment" parameterType="com.renrenlab.rlab.model.UserBaseInfo">
        UPDATE rlab_user_info.t_user_department
        SET u_department = #{uDepartment,jdbcType=VARCHAR},
            u_job_number = #{uJobNumber,jdbcType=VARCHAR}
        WHERE u_uid = #{uUid,jdbcType=BIGINT}
    </update>

</mapper>